@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-main-950 text-main-100;
}

* {
  @apply scrollbar-thin scrollbar-track-primary-950 scrollbar-thumb-primary-700;
}

*::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px !important;
}

body {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-text-size-adjust: 100% !important;
  text-rendering: optimizeLegibility !important;
}
